.main
  .main__header
    .main__headers
      .main__header--group
        = @group.name
      .main__header--member
        = current_user.name
    
    = link_to edit_group_path(@group), class: "main__header--edit" do
      edit

  .main__chat
    .messages
      = render @messages
      
    .main__chat--footer
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'main__chat--footer__message', placeholder: 'type a message'
        .main__chat--footer__message__box
          = f.label :image, class: 'main__chat--footer__massage__icon' do
            = icon('fas', 'image', class: 'main__chat--footer__massage__icon')
            = f.file_field :image, class: 'main__chat--footer__icon__input'
        = f.submit 'Send', class: 'main__chat--footer__send'