.main
  .main__header
    .main__header__s
      .main__header__s--group
        = @group.name
      .main__header__s--member
        - @group.users.each do |user|
          =user.name
    
    = link_to edit_group_path(@group), class: "main__header--edit" do
      edit

  .main__chat
    = render @messages
      
  .main__chat--footer
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'main__chat--footer__message', placeholder: 'type a message'
      .main__chat--footer__message__box
        = f.label :image, class: 'main__chat--footer__massage__icon' do
          = icon('fas', 'image', class: 'main__chat--footer__massage__icon')
          = f.file_field :image, class: 'main__chat--footer__icon__input'
          
      = f.submit 'Send', class: 'main__chat--footer__send'