.sideber
  .sideber__menulist
    .sideber__menulist--edit
    = current_user.name
    .sideber__menulist--edit__icon
      = link_to edit_user_path(current_user) do
        = icon('fas', 'cog', class: 'sideber__menulist--btn1')

      = link_to "https://www.#", class: "sideber__menulist--btn2" do
        = icon('fas', 'edit')
        


  .sideber__menulist--group

    .sideber__menulist--group__box1

      .sideber__menulist--group__box--text1
        group1

      .sideber__menulist--group__box--text2
        まだメッセージはありません
        
    .sideber__menulist--group__box2

      .sideber__menulist--group__box--text3
        group2

      .sideber__menulist--group__box--text4
        まだメッセージはありません